*{padding:0;margin:0}
<<<<<<< HEAD
  ul,ol{list-style:none}
  a{text-decoration:none;color:#fff;}
  nav{width:80%;overflow:hidden;height:80px;background-color:#000000;margin:0px auto}
  #nav1 {
    width: 100%;
    position: relative;
    text-align: center;
  }
=======
>>>>>>> 2e80168bbb9aa0ed584762a0f7bc483a8bf1575f

  .top-main-bg{
    background-color:#000000;
  }


<<<<<<< HEAD
  #nav1_text{
    font-size:15px;
  }
  #nav1>a {
    line-height: 70px;
    display: block;
    font-weight: 900;
    position: absolute;
    left: 30px;
  }
  
 
  #mypage{
    padding: 0 20px;
    height: 30px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-15px);  
  }
  
  #nav1 > a > img{
    width:200px;
    height:90px;
  }
  #nav1>ul {
    display: inline-block;
  }
  #nav1>ul li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
  }
  #nav2{
    float:left;
  }


/* 찜목록 */
=======





>>>>>>> 2e80168bbb9aa0ed584762a0f7bc483a8bf1575f
main{

  background-color: #eef5FD;
}

.profile_titlename h2{

  padding:2% 0;
  text-align:center;
  border-top:1px solid black;

}
  .profile_asta{
    padding-bottom:30px;
  }
  .profile_tablemain{
    display:flex;
    justify-content: center;
    margin-top: 20px;


  }
  .profile_tablemain > table{

    border-collapse: collapse;
    border: 4px solid black;
    width:60%;
    height:100%;
  }

  .profile_table_td, .profile_solid_tr th{
    border:1px solid #000;
  }
  .profile_table_td{
    padding:3%;
    background-color:#fff;

  }
  .profile_table_space_td{
    padding:3%;
  }
  .profile_tablemain th{

    width:15%;
    color:white;
    background-color:rgb(129, 131, 224);

    text-align:center;
  }
  .profile_spacetable td{
    background-color:rgb(255, 255, 255);
  }
  .profile_button1 {
    display:flex;
    justify-content: right;
    margin:30px 400px;
  }

  .profile_button1 button{
    padding:10px 20px;
    margin-right:20px;
    border-radius:20%;
    border:0;
    background-color:rgb(129, 131, 224);
    font-size:14px;
    color:#fff;
    cursor: pointer;

  }
  .profile_button1 :hover{
    color:#000;
  }
  .profile_button1 a{
    font-size:14px !important;
  }



  