<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>Picket로그인</title>
</head>

<body>
<header>
    <a href="/main"><img src="/image/icon/피켓로고검정.png" width=100%></a>
</header>
<!-- 메인 -->
<main>
    <!-- 헤더 -->
    <h2>로그인을 통해 더 빠른 예약을 시작하세요!</h2>
    <div class="container" id="container">
        <!-- 회원가입 창 -->
        <div class="form-container sign-up-container">
            <form action="/signup" method="POST">
                <h1>회원 가입</h1>
                <!-- <div class="social-container" 회원 가입시 간편 로그인 넣을지 말지>
                  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div> -->
                <span>사용자 정보를 입력해 주세요</span>
                <input type="text" name="id"
                       placeholder="아이디(알파벳, 숫자 최대 20자)"
                       pattern="^[a-zA-Z0-9]+$"
                       required/>
                <input type="password" name="password"
                       placeholder="비밀번호(특수문자,숫자를 포함한 8~15자)"
                       pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()])[A-Za-z\d@$!%*?&]{8,15}$"
                       required/>

                <input type="email" name="email"
                       placeholder="이메일"
                       pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
                       required/>

                <input type="text" name="name"
                       placeholder="이름(최대 15자)" required/>

                <input type="text" name="birthdate"
                       placeholder="생년월일 6자 예)00/01/01"
                       pattern="^(?:[0-9]{2})\/(?:0[1-9]|1[0-2])\/(?:0[1-9]|[1-2][0-9]|3[0-1])$"
                       required/>

                <input type="tel" name="tel"
                       placeholder="전화번호 예)010-1234-5678"
                       pattern="^01[0-9]{1}-?[0-9]{3,4}-?[0-9]{4}$" required/>
                <!-- <label><input type="radio">여성</label><label><input type="radio"> 남성</label> -->

                <button type="submit">회원 가입</button>
            </form>
        </div>

        <!-- 로그인 창 -->
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
                <h1>로그인</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>사용자 계정을 입력해주세요</span>
                <input type="text" name="id" placeholder= "아이디" />
                <input type="password" name="password" placeholder="비밀번호" />
                <a href="/FindIDPW">아이디/비밀번호를 잊어버리셨나요?</a>
                <button type="submit">로그인</button>
            </form>
        </div>

        <!-- 회원가입 창 레드 레이어 -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>환영합니다!</h1>
                    <p>로그인을 통해 더 쉽게 티켓을 예매하세요!</p>
                    <button class="ghost" id="signIn">로그인</button>
                </div>

                <!-- 로그인 창 레드 레이어 -->
                <div class="overlay-panel overlay-right">
                    <h1>아직 회원이<br> 아니신가요?</h1>
                    <p>회원 가입으로 더 많은 혜택을 누리세요!</p>
                    <button type="button" class="ghost" id="signUp">회원 가입</button>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    window.onload = function() {
                      var errorMessage = /*[[${errorMessage}]]*/ null;
                      var successMessage = /*[[${successMessage}]]*/ null;
                        if(errorMessage) {
                          alert(errorMessage);
                        }
                        if(successMessage){
                          alert(successMessage)
                        }
                    }
                    /*]]>*/
                </script>
            </div>
        </div>
    </div>
</main>
<script src="/js/login.js">
</script>
</body>
</html>