<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>전시</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
</head>
<body>
<header>
    <nav id="nav1">
        <a href="/main"><img id="logo" src="/image/icon/로고.png" width="55%" ></a>
        <ul>
            <li><a href="/categories/concertlist">콘서트</a></li>
            <li><a href="/categories/musicallist">뮤지컬</a></li>
            <li><a href="/categories/actlist">연극</a></li>
            <li><a href="/categories/classiclist">클래식</a></li>
            <li><a href="/categories/exhibitlist">전시회</a></li>
        </ul>

    </nav>
    <div>
        <a href="/mypagemain"><img id="my" src="/image/icon/마이페이지.png" width="50" padding="10 0 0 0"></a>
        <a href="/support"><img id="callcenter" src="/image/icon/물음표.png" width="45" padding="10 0 0 0"></a>
        <a th:href="${session.customer != null ? '/logout' : '/loginpage'}">
            <img id="login" th:src="${session.customer != null ? '/image/icon/로그아웃.png' : '/image/icon/로그인.png'}" width="45">
        </a>
    </div>
</header>
<main>
    <div class="container">
        <div class="button_box">
            <button class="prevBtn">&lt;</button>
            <button class="nextBtn">&gt;</button>
        </div>
        <div class="item_box">
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/THE GREAT UNITY.jpg"></a></div>
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/그래피티 연금술사，시릴 콩고 Cyril Kongo´s.jpg"></a></div>
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/리얼뱅크시 REAL BANKSY.jpg"></a></div>
            <div class="item center"><a href="#"><img src="../image/category/exhibit_mini/서울바앤스피릿쇼 2024.jpg"></a></div>
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/새벽부터 황혼까지 - 스웨덴 국립미술관 컬렉션.jpg"></a></div>
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/THE GREAT UNITY.jpg"></a></div>
            <div class="item"><a href="#"><img src="../image/category/exhibit_mini/그래피티 연금술사，시릴 콩고 Cyril Kongo´s.jpg"></a></div>
        </div>
    </div>

<!--    <div class="container">-->
<!--        <button class="customPrevBtn">&lt;</button>-->
<!--        <div class="owl-carousel">-->
<!--            <div class="item"><a href="#"><img src="/image/category/exhibit_mini/그래피티 연금술사，시릴 콩고 Cyril Kongo´s.jpg"></a></div>-->
<!--            <div class="item"><a href="#"><img src="/image/category/exhibit_mini/리얼뱅크시 REAL BANKSY.jpg"></a></div>-->
<!--            <div class="item"><a href="#"><img src="/image/category/exhibit_mini/서울바앤스피릿쇼 2024.jpg"></a></div>-->
<!--            <div class="item"><a href="#"><img src="/image/category/exhibit_mini/새벽부터 황혼까지 - 스웨덴 국립미술관 컬렉션.jpg"></a></div>-->
<!--            <div class="item"><a href="#"><img src="/image/category/exhibit_mini/THE GREAT UNITY.jpg"></a></div>-->
<!--        </div>-->
<!--        <button class="customNextBtn">&gt;</button>-->
<!--    </div>-->
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function(){-->
<!--            var owl = $('.owl-carousel');-->

<!--            owl.owlCarousel({-->
<!--                items:3,                 // 한번에 보여줄 아이템 수-->
<!--                loop:true,               // 반복여부-->
<!--                margin:60,              // 오른쪽 간격-->
<!--                autoplay:true,           // 자동재생 여부-->
<!--                autoplayTimeout:5000,-->
<!--                autoplayHoverPause:true, //마우스오버시 멈출지 여부-->
<!--                center:true-->
<!--            });-->

<!--            $('.customNextBtn').click(function() {-->
<!--                owl.trigger('next.owl.carousel');-->
<!--            })-->

<!--            $('.customPrevBtn').click(function() {-->
<!--                owl.trigger('prev.owl.carousel', [300]);-->
<!--            })-->
<!--        });-->
<!--    </script>-->
    <div class="product_list">
        <h1><i>LIST ALL</i></h1>
        <ul>
            <li><a href="/exhibit/banksy"><img src="/image/category/exhibit/리얼뱅크시 REAL BANKSY.jpg"><br><br><span class="product_name">리얼뱅크시 REAL BANKSY</span><br><span class="product_date">아라아트센터</span></a></li>
            <li><a href="/exhibit/ghibli"><img src="/image/category/exhibit/스튜디오 지브리 애니메이션의 거장 타카하타 이사오전.jpg"><br><br><span class="product_name">[얼리버드] 스튜디오 지브리<br>애니메이션의 거장 타카하타 이사오전</span><br><span class="product_date">세종문화회관</span></a></li>
            <li><a href="/exhibit/graffiti"><img src="/image/category/exhibit/그래피티 연금술사，시릴 콩고 Cyril Kongo´s.jpg"><br><br><span class="product_name">그래피티 연금술사<br>시릴 콩고 Cyril Kongo´s</span><br><span class="product_date">뮤지엄웨이브</span></a></li>
            <li><a href="/exhibit/seoul"><img src="/image/category/exhibit/서울바앤스피릿쇼 2024.jpg"><br><br><span class="product_name">서울바앤스피릿쇼 2024</span><br><span class="product_date">삼성동 코엑스</span></a></li>
            <li><a href="/exhibit/osaka"><img src="/image/category/exhibit/후지시로 세이지 탄생 100주년 기념-오사카 파노라마展.jpg"><br><br><span class="product_name">후지시로 세이지 탄생<br>100주년 기념<br>오사카 파노라마展</span><br><span class="product_date">세종문화회관</span></a></li>
            <li><a href="/exhibit/todusk"><img src="/image/category/exhibit/새벽부터 황혼까지 - 스웨덴 국립미술관 컬렉션.jpg"><br><br><span class="product_name">새벽부터 황혼까지<br>스웨덴 국립미술관 컬렉션</span><br><span class="product_date">마이아트뮤지엄</span></a></li>
            <li><a href="/exhibit/india"><img src="/image/category/exhibit/스투파의 숲， 신비로운 인도 이야기.jpg"><br><br><span class="product_name">스투파의 숲，신비로운 인도 이야기</span><br><span class="product_date">국립중앙박물관</span></a></li>
            <li><a href="/exhibit/unity"><img src="/image/category/exhibit/THE GREAT UNITY.jpg"><br><br><span class="product_name">THE GREAT UNITY</span><br><span class="product_date">DDP 전시관</span></a></li>
        </ul>
    </div>
</main>
<footer>
    <div class="footer-side">
        <div id="foot-top"> <a href="#" >이용약관 </a><a href="#">단체 문의</a><a href="#" >공연 등록 문의</a><a href="#" >개인정보처리방침</a><a href="#" >청소년보호정책</a>
        </div>
        <div id="footer-left">
            <span> <h4>고객센터 1600-1588(유료)</h4></span>
            <span> <h4>이메일 picket@ezn.co.kr</h4></span><br>
            <span> 평일(월~금) 10:00 ~ 17:30</span><br>
            <span> 주말 및 공휴일 휴무</span>
        </div>

        <img src="/image/icon/피켓로고검정.png" width="10%">
        <div>
            <span>대표자 TeamProject |</span><span> 서울 강남구 풍성로 62길 대우빌딩</span> <span>| 사업자 등록번호 154-15-11562</span ><span>| 통신판매업신고 : 제2024-0001호</span><br>
            <span>호스팅서비스사업자 : Picket(주) </span><span>&copy;PicketCorp.Allright Reserved</span>
        </div>
    </div>
</footer>
<script th:inline="javascript">
const Btn = document.querySelector("#login")

if(Btn.getAttribute("src") === '/image/icon/로그아웃.png'){
    Btn.addEventListener("click", function(event){
        if(confirm("로그아웃 하시겠습니까?")){
            alert("로그아웃되었습니다.");
        }
        else{
            event.preventDefault();
        }
    });
}
</script>
<script src="../js/carouselTest.js"></script>
</body>
</html>