<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>뮤지컬</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
</head>
<body>
<header>
    <nav id="nav1">
        <a href="/main"><img id="logo" src="../image/icon/로고.png" width="55%" ></a>
        <ul>
            <li><a href="/categories/concertlist">콘서트</a></li>
            <li><a href="/categories/musicallist">뮤지컬</a></li>
            <li><a href="/categories/actlist">연극</a></li>
            <li><a href="/categories/classiclist">클래식</a></li>
            <li><a href="/categories/exhibitlist">전시회</a></li>
        </ul>

    </nav>
    <div>
        <a href="/mypagemain"><img id="my" src="../image/icon/마이페이지.png" width="50" padding="10 0 0 0"></a>
        <a href="/support"><img id="callcenter" src="../image/icon/물음표.png" width="45" padding="10 0 0 0"></a>
        <a th:href="${session.customer != null ? '/logout' : '/loginpage'}">
            <img id="login" th:src="${session.customer != null ? '/image/icon/로그아웃.png' : '/image/icon/로그인.png'}" width="45">
        </a>
    </div>
</header>
<main>
    <div class="container">
        <div class="button_box">
            <button class="prevBtn">&lt;</button>
            <button class="nextBtn">&gt;</button>
        </div>
        <div class="item_box">
            <div class="item"><a href="#"><img src="/image/category/musical_mini/뮤지컬 〈파가니니〉.jpg"></a></div>
            <div class="item"><a href="#"><img src="/image/category/musical_mini/베어더뮤지컬.jpg"></a></div>
            <div class="item"><a href="#"><img src="/image/category/musical_mini/뮤지컬 디아길레프.jpg"></a></div>
            <div class="item center"><a href="#"><img src="/image/category/musical_mini/뮤지컬 디어 에반 핸슨 （Dear Evan Hansen）.jpg"></a></div>
            <div class="item"><a href="#"><img src="/image/category/musical_mini/뮤지컬 〈넥스트 투 노멀〉.jpg"></a></div>
            <div class="item"><a href="#"><img src="/image/category/musical_mini/뮤지컬 〈파가니니〉.jpg"></a></div>
            <div class="item"><a href="#"><img src="/image/category/musical_mini/베어더뮤지컬.jpg"></a></div>
        </div>
    </div>

    <div class="product_list">
        <h1><i>LIST ALL</i></h1>
        <ul>
            <li><a href="/musical/musical_paris.info"><img src="/image/category/musical/2024 뮤지컬 노트르담 드 파리.jpg"><br><br><span class="product_name">2024 뮤지컬 노트르담 드 파리</span><br><span class="product_date">울산문화예술회관</span></a></li>
            <li><a href="/musical/musical_touching.info"><img src="/image/category/musical/뮤지컬 낭만별곡.jpg"><br><br><span class="product_name">뮤지컬 [낭만별곡]</span><br><span class="product_date">아트원 2관</span></a></li>
            <li><a href="/musical/musical_dia.info"><img src="/image/category/musical/뮤지컬 디아길레프.jpg"><br><br><span class="product_name">뮤지컬 [디아길레프]</span><br><span class="product_date">아트원 1관</span></a></li>
            <li><a href="/musical/musical_dear.info"><img src="/image/category/musical/뮤지컬 디어 에반 핸슨 （Dear Evan Hansen）.jpg"><br><br><span class="product_name">뮤지컬 [디어 에반 핸슨] <br>（Dear Evan Hansen）</span><br><span class="product_date">충무아트센터</span></a></li>
            <li><a href="/musical/musical_next.info"><img src="/image/category/musical/뮤지컬 〈넥스트 투 노멀〉.jpg"><br><br><span class="product_name">뮤지컬 〈넥스트 투 노멀〉</span><br><span class="product_date">광림아트센터</span></a></li>
            <li><a href="/musical/musical_here.info"><img src="/image/category/musical/뮤지컬 〈여기， 피화당〉.jpg"><br><br><span class="product_name">뮤지컬 〈여기， 피화당〉</span><br><span class="product_date">플러스씨어터</span></a></li>
            <li><a href="/musical/musical_violin.info"><img src="/image/category/musical/뮤지컬 〈파가니니〉.jpg"><br><br><span class="product_name">뮤지컬 〈파가니니〉</span><br><span class="product_date">국립중앙박물관</span></a></li>
            <li><a href="/musical/musical_bear.info"><img src="/image/category/musical/베어더뮤지컬.jpg"><br><br><span class="product_name">뮤지컬〈더 트라이브 THE TRIBE〉</span><br><span class="product_date">두산아트센터</span></a></li>
        </ul>
    </div>
</main>
<footer>
    <div class="footer-side">
        <div id="foot-top"> <a href="#" >이용약관 </a><a href="#">단체 문의</a><a href="#" >공연 등록 문의</a><a href="#" >개인정보처리방침</a><a href="#" >청소년보호정책</a>
        </div>
        <div id="footer-left">
            <span> <h4>고객센터 1600-1588(유료)</h4></span>
            <span> <h4>이메일 picket@ezn.co.kr</h4></span><br>
            <span> 평일(월~금) 10:00 ~ 17:30</span><br>
            <span> 주말 및 공휴일 휴무</span>
        </div>

        <img src="/image/icon/피켓로고검정.png" width="10%">
        <div>
            <span>대표자 TeamProject |</span><span> 서울 강남구 풍성로 62길 대우빌딩</span> <span>| 사업자 등록번호 154-15-11562</span ><span>| 통신판매업신고 : 제2024-0001호</span><br>
            <span>호스팅서비스사업자 : Picket(주) </span><span>&copy;PicketCorp.Allright Reserved</span>
        </div>
    </div>
</footer>
<script th:inline="javascript">
const Btn = document.querySelector("#login")

if(Btn.getAttribute("src") === '/image/icon/로그아웃.png'){
    Btn.addEventListener("click", function(event){
        if(confirm("로그아웃 하시겠습니까?")){
            alert("로그아웃되었습니다.");
        }
        else{
            event.preventDefault();
        }
    });
}
</script>
<script src="../js/carouselTest.js"></script>
</body>
</html>